In [10]:
import pandas as pd
import numpy as np

In [11]:
dataset = pd.read_excel("D:/Study material/Ineuron - internship/tourism_data.xlsx", sheet_name='Tourism')

In [12]:
dataset.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisited,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisited,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [13]:
dataset.describe()

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisited,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisited,MonthlyIncome
count,4888.000000,4888.000000,4662.000000,4888.000000,4637.000000,4888.000000,4843.000000,4862.000000,4748.000000,4888.000000,4888.000000,4888.000000,4822.000000,4655.000000
mean,202443.500000,0.188216,37.622265,1.654255,15.490835,2.905074,3.708445,3.581037,3.236521,0.290917,3.078151,0.620295,1.187267,23619.853491
std,1411.188388,0.390925,9.316387,0.916583,8.519643,0.724891,1.002509,0.798009,1.849019,0.454232,1.365792,0.485363,0.857861,5380.698361
min,200000.000000,0.000000,18.000000,1.000000,5.000000,1.000000,1.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1000.000000
25%,201221.750000,0.000000,31.000000,1.000000,9.000000,2.000000,3.000000,3.000000,2.000000,0.000000,2.000000,0.000000,1.000000,20346.000000
50%,202443.500000,0.000000,36.000000,1.000000,13.000000,3.000000,4.000000,3.000000,3.000000,0.000000,3.000000,1.000000,1.000000,22347.000000
75%,203665.250000,0.000000,44.000000,3.000000,20.000000,3.000000,4.000000,4.000000,4.000000,1.000000,4.000000,1.000000,2.000000,25571.000000
max,204887.000000,1.000000,61.000000,3.000000,127.000000,5.000000,6.000000,5.000000,22.000000,1.000000,5.000000,1.000000,3.000000,98678.000000

In [14]:
df = dataset
df['TypeofContact'].unique()

array(['Self Enquiry', 'Company Invited', nan], dtype=object)

 # NA value treatment

In [15]:
#NA values for TypeofContact

In [16]:
df['TypeofContact'].value_counts()

Self Enquiry       3444
Company Invited    1419
Name: TypeofContact, dtype: int64

In [17]:
df['TypeofContact'].isnull().sum()

25

In [18]:
df['TypeofContact'] = df['TypeofContact'].fillna("Self Enquiry")

In [19]:
#NA values for Age

In [20]:
df.groupby('Designation')['Age'].mean()

Designation
AVP               48.026316
Executive         33.054181
Manager           37.382193
Senior Manager    40.581646
VP                48.065217
Name: Age, dtype: float64

In [21]:
def impute_age(cols):
    Age = cols[0]
    Designation = cols[1]
    
    if pd.isnull(Age):
        
        if Designation == "Executive":
            return 33
        elif Designation == "Manager":
            return 37
        elif Designation == "Senior Manager":
            return 40
        else:
            return 48
    else:
        return Age

In [22]:
df['Age'] = df[['Age','Designation']].apply(impute_age, axis=1)

In [23]:
#NA values for DurationOfPitch

In [24]:
df['DurationOfPitch'].isnull().sum()

251

In [25]:
df.groupby('NumberOfPersonVisited')['DurationOfPitch'].mean()

NumberOfPersonVisited
1    13.914286
2    14.759593
3    15.570126
4    16.271835
5    19.000000
Name: DurationOfPitch, dtype: float64

In [26]:
df['DurationOfPitch'] = df['DurationOfPitch'].fillna(df.groupby('NumberOfPersonVisited')['DurationOfPitch'].transform('mean'))

In [27]:
#NA values for NumberOfFollowups

In [28]:
df['NumberOfFollowups'].value_counts()

4.0    2068
3.0    1466
5.0     768
2.0     229
1.0     176
6.0     136
Name: NumberOfFollowups, dtype: int64

In [29]:
df['NumberOfFollowups'] = df['NumberOfFollowups'].fillna(4)

In [30]:
#NA values for MonthlyIncome

In [31]:
df.groupby('Designation')['MonthlyIncome'].mean()

Designation
AVP               32241.046784
Executive         19939.922507
Manager           22643.157629
Senior Manager    26637.749326
VP                35878.947826
Name: MonthlyIncome, dtype: float64

In [32]:
df['MonthlyIncome'] = df['MonthlyIncome'].fillna(df.groupby('Designation')['MonthlyIncome'].transform('mean'))

In [33]:
#NA values for PreferredPropertyStar

In [34]:
df['PreferredPropertyStar'].value_counts()

3.0    2993
5.0     956
4.0     913
Name: PreferredPropertyStar, dtype: int64

In [35]:
df['PreferredPropertyStar'] = df['PreferredPropertyStar'].fillna(3)

In [36]:
#NA values for NumberOfTrips

In [37]:
df['NumberOfTrips'] = df['NumberOfTrips'].fillna(2)

In [38]:
#NA values for NumberOfChildrenVisited

In [39]:
df['NumberOfChildrenVisited'].unique()

array([ 0.,  2.,  1., nan,  3.])

In [40]:
df.dropna(axis = 0, inplace = True)

In [41]:
df.isna().sum()

CustomerID                 0
ProdTaken                  0
Age                        0
TypeofContact              0
CityTier                   0
DurationOfPitch            0
Occupation                 0
Gender                     0
NumberOfPersonVisited      0
NumberOfFollowups          0
ProductPitched             0
PreferredPropertyStar      0
MaritalStatus              0
NumberOfTrips              0
Passport                   0
PitchSatisfactionScore     0
OwnCar                     0
NumberOfChildrenVisited    0
Designation                0
MonthlyIncome              0
dtype: int64

In [42]:
#Typo correction in gender

In [43]:
df['Gender'].value_counts()

Male       2890
Female     1777
Fe Male     155
Name: Gender, dtype: int64

In [44]:
df['Gender'] = df['Gender'].apply(lambda x: 1 if x == 'Male' else 0)

In [45]:
#Outlier treatment from EDA

In [46]:
df = df[df['Occupation'] != 'Free Lancer']

In [47]:
df['Occupation'].unique()

array(['Salaried', 'Small Business', 'Large Business'], dtype=object)

In [48]:
df.shape

(4820, 20)

In [49]:
df[df.MonthlyIncome>50000]

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisited,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisited,Designation,MonthlyIncome
38,200038,0,36.0,Self Enquiry,1,11.0,Salaried,0,2,4.0,Basic,3.0,Divorced,1.0,1,2,1,0.0,Executive,95000.0
2482,202482,0,37.0,Self Enquiry,1,12.0,Salaried,0,3,5.0,Basic,5.0,Divorced,2.0,1,2,1,1.0,Executive,98678.0

In [50]:
df = df[df['MonthlyIncome'] < 50000]

In [51]:
df = df[df['MonthlyIncome'] > 5000]
df

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisited,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisited,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,0,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,1,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,0,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,33.0,Self Enquiry,1,8.0,Small Business,1,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
5,200005,0,32.0,Company Invited,1,8.0,Salaried,1,3,3.0,Basic,3.0,Single,1.0,0,5,1,1.0,Executive,18068.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,1,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,1,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,0,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,1,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,1,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [52]:
df['NumberOfTrips'].value_counts()

2.0     1590
3.0     1070
1.0      617
4.0      461
5.0      443
6.0      314
7.0      214
8.0      103
21.0       1
19.0       1
22.0       1
20.0       1
Name: NumberOfTrips, dtype: int64

In [53]:
df = df[df['NumberOfTrips'] < 10]

In [54]:
df = df[df['DurationOfPitch'] < 50]

In [55]:
###Droping Irrelavant data based on EDA procedure

In [56]:
df.drop(['DurationOfPitch','CustomerID'], inplace = True, axis = 1)

In [57]:
df['NumberofAdultVisited'] = df['NumberOfPersonVisited'] - df['NumberOfChildrenVisited']
df['NumberofAdultVisited']

0       3.0
1       1.0
3       1.0
4       2.0
5       2.0
       ...
4883    2.0
4884    2.0
4885    1.0
4886    1.0
4887    2.0
Name: NumberofAdultVisited, Length: 4810, dtype: float64

In [58]:
df.drop('NumberOfPersonVisited', inplace = True, axis = 1)

In [59]:
df.describe().columns

Index(['ProdTaken', 'Age', 'CityTier', 'Gender', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'NumberOfChildrenVisited',
       'MonthlyIncome', 'NumberofAdultVisited'],
      dtype='object')

In [60]:
df.columns

Index(['ProdTaken', 'Age', 'TypeofContact', 'CityTier', 'Occupation', 'Gender',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisited', 'Designation', 'MonthlyIncome',
       'NumberofAdultVisited'],
      dtype='object')

In [61]:
#path = r'C:\Users\honey\Tourism - Ineuron folder'
#df.to_csv(path+'clean_data.csv')

In [62]:
#Solving categorical columns

In [63]:
df_num = df[['ProdTaken', 'Age', 'CityTier', 'Gender', 'NumberOfFollowups',
             'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
             'PitchSatisfactionScore', 'OwnCar', 'NumberOfChildrenVisited',
             'MonthlyIncome', 'NumberofAdultVisited']]

In [64]:
df_cat = df[['TypeofContact', 'Occupation', 'ProductPitched', 'MaritalStatus', 'Designation']]

In [65]:
df_cat.head()

     TypeofContact      Occupation ProductPitched MaritalStatus Designation
0     Self Enquiry        Salaried         Deluxe        Single     Manager
1  Company Invited        Salaried         Deluxe      Divorced     Manager
3  Company Invited        Salaried          Basic      Divorced   Executive
4     Self Enquiry  Small Business          Basic      Divorced   Executive
5  Company Invited        Salaried          Basic        Single   Executive

In [66]:
for i in df_cat.columns:
    print(i)
    print(df[i].value_counts())

TypeofContact
Self Enquiry       3406
Company Invited    1404
Name: TypeofContact, dtype: int64
Occupation
Salaried          2322
Small Business    2063
Large Business     425
Name: Occupation, dtype: int64
ProductPitched
Basic           1833
Deluxe          1727
Standard         741
Super Deluxe     300
King             209
Name: ProductPitched, dtype: int64
MaritalStatus
Married      2309
Divorced      931
Single        890
Unmarried     680
Name: MaritalStatus, dtype: int64
Designation
Executive         1833
Manager           1727
Senior Manager     741
AVP                300
VP                 209
Name: Designation, dtype: int64

In [67]:
df_cat_dum = pd.get_dummies(df_cat)

In [68]:
#Concat data

In [69]:
df_final = pd.concat([df_num, df_cat_dum], axis = 1)

In [70]:
#df_final.to_csv(r'C:\Users\honey\Tourism - Ineuron folder\clean_dum_data.csv')

In [71]:
df['ProdTaken'].value_counts()

0    3901
1     909
Name: ProdTaken, dtype: int64

In [72]:
x = df_final.iloc[:, 1:25]
y = df_final.iloc[:, 0]

# Train Test split

In [73]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 100)

In [74]:
y_train.value_counts()

0    3112
1     736
Name: ProdTaken, dtype: int64

In [75]:
from imblearn.over_sampling import SMOTE
sm = SMOTE()

In [76]:
x_train_sm,y_train_sm = sm.fit_resample(x_train,y_train)

# Model Building

In [77]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [78]:
lr = LogisticRegression()

In [79]:
lr.fit(x_train_sm,y_train_sm)

LogisticRegression()

In [80]:
lr_pred = lr.predict(x_test)

In [81]:
accuracy_score(y_test, lr_pred)

0.6195426195426196

In [82]:
from sklearn.ensemble import RandomForestClassifier

In [83]:
rf = RandomForestClassifier()

In [84]:
rf.fit(x_train_sm,y_train_sm)

RandomForestClassifier()

In [85]:
rf_pred = rf.predict(x_test)

In [86]:
accuracy_score(y_test, rf_pred)

0.896049896049896

# Gridsearch for hyperparameter tuning

In [88]:
from sklearn.model_selection import GridSearchCV

In [89]:
parameters = {'n_estimators': range(100,300,50), 'criterion': ('gini','entropy'),
             'max_features': ('auto', 'sqrt', 'log2')

In [91]:
gs_rf = GridSearchCV(rf, parameters)

In [93]:
#gs_rf.fit(x_train_sm, y_train_sm)

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'criterion': ('gini', 'entropy'),
                         'max_features': ('auto', 'sqrt', 'log2'),
                         'n_estimators': range(100, 300, 50)})

In [100]:
#gs_rf.best_params_

{'criterion': 'entropy', 'max_features': 'auto', 'n_estimators': 250}

In [106]:
rf = RandomForestClassifier(criterion = 'entropy', max_features = 'auto', n_estimators = 250)

# Testing through Cross validation score

In [102]:
from sklearn.model_selection import cross_val_score

In [109]:
scores = np.mean(cross_val_score(rf, x_train_sm, y_train_sm, cv=5))
scores

0.9100365448933999

In [112]:
rf.fit(x_train_sm,y_train_sm)

RandomForestClassifier(criterion='entropy', n_estimators=250)

In [115]:
rf_pred = rf.predict(x_test)

In [116]:
accuracy_score(y_test, rf_pred)

0.8970893970893971

# Pickel the model

In [118]:
#import joblib
#joblib.dump(rf, 'model.pkl')

['model.pkl']